// Footer
footer {
  padding: 2em;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(25, 22, 24, 1) 35%, rgba(33, 28, 28, 1) 63%, rgba(23, 14, 14, 1) 94%);
  color: #eaeaea;
}

/* Applique un style global pour les éléments du footer */
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto; /* centre le footer-top horizontalement */
  max-width: 1500px; /* limite la largeur du footer-top */
  margin-top: 4rem;
}

.footer-top a {
  text-decoration: none;
  color: #eaeaea;
  line-height: 2;
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

.footer-address {
  font-size: 1.2rem;
  line-height: 2.2;
  box-shadow: 0 0 15px #eaeaea;
  padding: 1.7rem;
  border-radius: 15px;
}

.footer-address h4 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.footer-map {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}