// Main text color
$mainColor: #eaeaea;

// Main background color
$mainBgColor: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(25, 22, 24, 1) 35%, rgba(33, 28, 28, 1) 63%, rgba(23, 14, 14, 1) 94%);

// Colors for the Boogi and Lady themes
$boogiColor: rgb(27, 189, 219);
$ladyColor: rgb(240, 0, 180);