button.btn {
    background-color: #eaeaea;
    color: black;
    padding: 1.6rem;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    margin: 1rem auto;
    box-shadow: 0 0 10px 0 rgb(27, 189, 219);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;


    &:hover {
        background-color: black;
        color: #eaeaea;
        box-shadow: 0 0 10px 0 rgb(240, 0, 180);
        scale: 1.1;
        transition: all 0.5s ease;
    }

}